<div class="page-header">
  <h1>Events Details</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <img width = 350 src="http://rack.3.mshcdn.com/media/ZgkyMDEzLzA0LzMwLzFlL2NvZGluZ2Z1dHVyLmQ1MzY5LmpwZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/fce2cac8/a4d/coding-future.jpg">
  </div>
  <div class="col-md-8">
    <h3> Coding</h3>
    <p class="lead"></p>
    <p>Everybody should learn coding.</p>

       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/index">Back</a></li>
      </ul>
    </div>
  </div>
</div>